body
{
  font-family: Helvetica;
  text-align: justify;
}

#body
{
  width: 900px;
}

#avatar
{
  height: 100px;
  border-radius: 50%;
}

#swh, #unq
{
  height: 100px;
  margin-left: 20px;
}

ul#menu
{
  padding: 5px;
  list-style: none;
  border: 1px solid black;
}

ul#menu li
{
  cursor: pointer;
  padding-right: 10px;
  display: inline;
}

ul#menu li, a
{
  color: blue;
  text-decoration: none;
}

ul#menu li:hover, a:hover
{
  color: blue;
}

.content
{
  display: none;
}

.conference, .journal
{
  font-style: italic;
}

.title
{
  font-weight: bold;
}

.visible
{
  display: block;
}
